<% include ./partials/header %>

    <div class="menucontainer">
        <% for (let i = 0; i < dbHolder.menuTitle.length; i++) { %>
            <a href="<%= dbHolder.menuTitle[i] %>" class="waves-effect waves-light btn-large">
                <i class="material-icons right">arrow_forward_ios</i><%= dbHolder.menuTitle[i] %></a>
        <% } %>

    </div>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        window.extAsyncInit = function () {
            // the Messenger Extensions JS SDK is done loading 
        };
    </script>

    <% include ./partials/footer %>
